@charset "UTF-8";
/* CSS Document */

html { padding:0; margin:0; width:100%; /* height: 100%; */ height: auto;  /* overflow-x:hidden; overflow-y:hidden;  */}

body { padding:0; margin:0; width:100%; /* height: 100%; */ height: auto;  /* overflow-x:hidden; overflow-y:hidden;  */}
body { font-family: "Open Sans", sans-serif; font-weight:400;  font-style:normal; font-size:100%; line-height:200%;  color: #323232; }
body::after { clear: both;  content: "";  display: table; }

html * { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-text-size-adjust: none; -ms-text-size-adjust: 100%; }
* { margin: 0; padding: 0; }
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
* { /* -webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out; */ }

.clear { clear:both; padding:0; margin:0; }
.fleft { float:left; }
.fright { float:right; }
img { display:block; margin:0; padding:0; width:100%; max-width:100%; height:auto; }

.noshow { display:none !important; }

#mywidthdiv { background-color: #FFFFFF;    border: 2px solid #909295;    bottom: 20px;    color: #909295;    	height: auto;    right: 20px; padding: 10px;    position: fixed;    text-align: center;    width: auto;    z-index:999999; }

h1, h2, h3, p { margin:20px 0; padding:0;  }
h1, h3, h3 { font-weight:600; }
h1 { font-size:200%; }
h2 { font-size:150%; }
h3 { font-size:125%; }

section { border-bottom:1px solid #dedede; border-top:1px solid #dedede; padding:0; margin:0; width:100%; height:auto; }
section.txt { padding:20px; margin:0; border:none; }

#scroller_1 
{   
	overflow-x: scroll;
	white-space: nowrap;											
	
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style:-ms-autohiding-scrollbar; 
	
	width:100%;
	height:auto; 
	
	margin:0 0;
	padding:10px 0;		
			
	outline:none;
	border:none;
	text-decoration:none;	
}
#scroller_2 
{   
	overflow-x: scroll;
	white-space: nowrap;											
	
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style:-ms-autohiding-scrollbar; 
	
	width:100%;
	height:auto; 
	
	margin:0 0;
	padding:10px 0;		
			
	outline:none;
	border:none;
	text-decoration:none;	
}
#scroller_3 
{   
	overflow-x: scroll;
	white-space: nowrap;											
	
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style:-ms-autohiding-scrollbar; 
	
	width:100%;
	height:auto; 
	
	margin:0 0;
	padding:1% 0;		
			
	outline:none;
	border:none;
	text-decoration:none;	
}
#scroller_4 
{   
	overflow-x: scroll;
	white-space: nowrap;											
	
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style:-ms-autohiding-scrollbar; 
	
	width:100%;
	height:auto; 
	
	margin:0 0;
	padding:10px 0;		
			
	outline:none;
	border:none;
	text-decoration:none;	
}
#scroller_4_inner_wrap
{
	width:calc(300px * 20);
	padding:0;
	margin:0;
}
#scroller_5 
{   
	overflow-x: scroll;
	white-space: nowrap;											
	
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style:-ms-autohiding-scrollbar; 
	
	width:100%;
	height:auto; 
	
	margin:0 0;
	padding:10px 0;		
			
	outline:none;
	border:none;
	text-decoration:none;	
}
#scroller_5_inner_wrap
{
	/*
	width:calc(300px * 20);
	NOTE TO SELF: Try automatically calculating with jQuery ~ Ty
	*/
	padding:0;
	margin:0;
}
.item 
{
	display: inline-block;
	
	width:300px;   /* % percentage */
	height:300px; /* auto */ 
	
	position:relative;
	z-index:1;
	
	border: 1px solid #dedede;
	
	margin:0 0 0 10px;
	padding:0 0;
		
	background:#f5f5f5; 		
}
#scroller_3 .item 
{ 
	width:26%;
	margin:0 0 0 1%; 
}
#scroller_4 .item 
{
	display:block;
	float:left;
	margin:0; 
}
#scroller_5 .item 
{
	/* NOTE TO SELF: in this version, the Width is neither preset 300px (via .item) nor a preset - via css #scroller_5 .item - X % - Try setting this as a variable in jQuery ~ Ty */
	display:block;
	float:left;
	margin:0; 
}
.item.last
{
	margin-right:10px;
}
#scroller_3 .item.last
{
	margin-right:1%;
}
#scroller_4 .item.last
{
	margin-right:0;
}
#scroller_5 .item.last
{
	margin-right:0;
}

.item_content
{
	width:80%;
	height:auto;
	
	display:block;
	margin:0;
	padding:0;
	
	position:absolute;
	z-index:2;
	
	left:50%;
	top:50%;
	
	 -webkit-transform: translateX(-50%) translateY(-50%);
	 -moz-transform: translateX(-50%) translateY(-50%);
	 -ms-transform: translateX(-50%) translateY(-50%);
	 -o-transform: translateX(-50%) translateY(-50%);
	 transform: translateX(-50%) translateY(-50%);	
	 
	 font-size:200%;
	 line-height:100%;
	 
	 text-align:center;
}





@media only screen and (min-width: 1024px)
				   and (max-width: 1151px)
{
	/* styles */
}